#Environment variables
/env*

#Weird app stuff
fwitter.egg-info*

#VSCode stuff
.vscode/*
*.DS_Store

# Node stuff
*node_modules/

# Flask suggested
venv/

*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

var/*